nav li a{
    cursor: pointer;
}
.hidden{
    display: none;
}
input.small{
    width: 5em;
}
.shouldAct{
    background-color: hsla(1, 100%, 55%, 0.53);
}

.actNow{
    background-color: hsla(121, 100%, 55%, 0.53);
}
